
$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$comment-font-size: $base-font-size !default;
$text-area-bg-color: #f4f4f4;
$brand-color: #747474;
$link-base-color: #2774d8;

.comments {
    input, select, textarea, label, button {
        font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
        color: #000000;;
    }
    
    fieldset {
        border: none;
        padding: 0;
    }

    textarea, input {
        background-color: $text-area-bg-color;
    }

    // each staticman text field is wrapped in this div
    .textfield {
        max-width: 100%;
        padding: 0.5rem 0;
    }

    // fields except the comment field get this class too
    // to keep them a reasonable size
    .narrowfield {
        width: 420px;
    }

    .hp {
        display: none;
    }

    textarea {
        vertical-align: top;
    }

    .textfield__input {
        border: 1px solid rgba(0,0,0,.12);
        padding: 4px 5px;
        width: 100%;
        font-size: $comment-font-size;
    }
    .notify-me, .g-recaptcha {
        padding: 0.5rem 0;
    }
    .button {
        position: relative;
        padding: 8px 16px;
        background:  #308ba7;
        border: none;
        outline: none;
        border-radius: 2px;
        cursor: pointer;
      }
      
      .button:active {
        background: #308ba7;
      }
      
      .button__text {
        color: #ffffff;
        transition: all 0.2s;
      }
      
      .button--loading .button__text {
        visibility: hidden;
        opacity: 0;
      }
      
      .button--loading::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 4px solid transparent;
        border-top-color: #ffffff;
        border-radius: 50%;
        animation: button-loading-spinner 1s ease infinite;
      }
      
      @keyframes button-loading-spinner {
        from {
          transform: rotate(0turn);
        }
      
        to {
          transform: rotate(1turn);
        }
      }
    .button:hover {
        background-color: #308ba7;
        color: white;
    }

    //
    // Staticman existing comments
    //
    .comment__new {
        padding: 0px 0px 14px 0px;
    }
    .comment__author {
        color: ld-select(#6b6b6b, $brand-color);
    }
    .comment__admin_tag {
        font-size: 0.8em;
        border-color: $brand-color;
        border-style: solid;
        border-width: 1px;
        background-color: ld-select(#bfb, #050);
        border-radius: 2em;
        padding: 3px 4px 2px 4px;
        vertical-align: middle;
    }
    .comment__date {
        font-size: $small-font-size;
    }
    .comment__body {
        font-size: $comment-font-size;
    }
    .comment__meta {
        text-align: left;
        color: $brand-color;
        font-size: $small-font-size;
    }
    .comments__existing {
        padding: 8px 0px 0px 0px;
    }
    .comment {
        border-top: 0px solid rgba(0,0,0,.12);
        padding: 0px 0px 0px 0px;
        margin-bottom: 1em;
    }
    .comment.child {
        margin-left: 3em;
    }
    .comment__reply-link {
        color: $brand-color;
        font-size: $small-font-size;
        cursor: pointer;
    }

}